*, *::before, *::after { box-sizing: inherit;}
:root {
  --background: rgba(0, 240, 255, 0.8);
}
@font-face {
  src: url(fonts/Pacifico-Regular.ttf);
  font-family: pacifico;
}
body {
  font-family: serif;
  background: var(--background);
  background-image: url(img/beach.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/*Navigation*/
header {
  background: var(--background);
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}
h1 {
  margin: 10px;
  font-family: pacifico;
}
.nav-toggle {
  display: none;
}
.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}
.nav-toggle-label span::before {
  bottom: 7px;
}
.nav-toggle-label span::after {
  top: 7px;
}
nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1,0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}
nav a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/*Content*/
.content {
  position: relative;
  top: 100px;
  margin: auto;
  width: 98%;
  display: grid;
  grid-gap: 10px;
}
.font-size-large {
  font-size: 60px;
}
.font-size-medium {
  font-size: 30px;
}
.font-size-small {
  font-size: 20px;
}
.font-size-xs {
  font-size: 18px;
}

/*Content-Section 1*/
.section1 {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
  "video"
  "video"
  "tprice"
  "hprice";
}
.video {
  grid-area: video;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.video iframe {
  position: absolute;
  height: 100%;
  width: 100%;
}
.price {
  background: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 150px;
}
.tprice {
  grid-area: tprice;
}
.hprice {
  grid-area: hprice;
}
/*Content-Section 2*/
.section2 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.feature {
  background: white;
  padding:20px;
  text-align: center;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
}
.feature h3 {
  padding-top: 5px;
}
.feature img {
  transition: transform 150ms;
}
.feature img:hover {
  transform: scale(1.2);
}
.feature button {
  background: transparent;
  border: none;
}
.feature button:hover {
  cursor: pointer;
}
/*Section 3*/
.section3 {
  display: flex;
  background: var(--background);
}
.about {
  padding: 20px 0;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.details {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.details button {
  padding:8px;
  background-color: yellow;
  color: red;
  border-radius: 5px;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  border: none;
  margin: 10px auto;
  align-items: center;
}
.details button:hover {
  background-color: red;
  color: yellow;
}
button a {
  text-decoration: none;
}

/*Footer*/
footer {
  text-align: center;
}

/*Media Queries*/
@media screen and (min-width: 750px) {
/*Navigation*/
.nav-toggle-label {
  display: none;
}
header {
  display: grid;
  grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
}
.logo {
  grid-column: 2 / 3;
}
nav {
  all: unset;
  grid-column: 3 / 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav ul {
  display: flex;
}
nav li {
 margin-left: 3em;
 margin-bottom: 0;
}
nav a {
 opacity: 1;
 position: relative;
}
nav a::before {
  content: '';
  display: block;
  height: 3px;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: scale(0,1);
  transition: transform ease-in-out 250ms;
}
nav a:hover::before {
  transform: scale(1,1);
}

/*Section 1*/
.section1 {
  display: grid;
  grid-gap: 20px;
  grid-auto-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "video video tprice"
  "video video hprice"
}
}
