*, *::before, *::after { box-sizing: inherit;}
:root {
  --background: rgba(0, 240, 255, 0.8);
}
@font-face {
  src: url(../fonts/Pacifico-Regular.ttf);
  font-family: pacifico;
}
::-webkit-scrollbar {
    display: none;
}
body {
  font-family: serif;
  background-image: url(../img/beach.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*Navigation*/
header {
  background: var(--background);
  text-align: center;
  position: fixed;
  width: 100vw;
  z-index: 999;
}
h1 {
  margin: 10px;
  font-family: pacifico;
}
h1 a:link {
  color: black;
  text-decoration: none;
}
h1 a:visited {
  color: black;
}
h1 a:hover {
  color: black;
  cursor: pointer;
}
.nav-toggle {
  display: none;
}
.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}
.nav-toggle-label span::before {
  bottom: 7px;
}
.nav-toggle-label span::after {
  top: 7px;
}
nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1,0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}
nav a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/*Content*/
.container {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.table {
  padding: 20px;
  background-color: var(--background);
}
th {
  padding-top: 20px;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.font-size-xl {
  font-size: 30px;
}
.font-size-large {
  font-size: 25px;
}
.font-size-medium {
  font-size: 20px;
}
.font-size-small {
  font-size: 18px;
}
.underline {
  text-decoration: underline;
  font-family: pacifico;
}

/*Media Queries*/
@media screen and (min-width: 750px) {
/*Navigation*/
.nav-toggle-label {
  display: none;
}
header {
  display: grid;
  grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
}
.logo {
  grid-column: 2 / 3;
}
nav {
  all: unset;
  grid-column: 3 / 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav ul {
  display: flex;
}
nav li {
 margin-left: 3em;
 margin-bottom: 0;
}
nav a {
 opacity: 1;
 position: relative;
}
nav a::before {
  content: '';
  display: block;
  height: 3px;
  background: black;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: scale(0,1);
  transition: transform ease-in-out 250ms;
}
nav a:hover::before {
  transform: scale(1,1);
}
}
